/* Header.css */

.app-header {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navigation {
  display: flex;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ecf0f1;
}

.user-header {
  background-color: #2ecc71;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-message {
  font-size: 1.2em;
}
