.employee-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #0d6efd;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.form-heading{
  width:auto;
  text-align:center;
}
.autocomplete {
  position: relative;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  background-color: #7e8791;
  border: 1px solid #eee7e7;
  border-top: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestions li:last-child {
  border-bottom: none;
}
